@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#searchIcon {
    padding-left: 40px;
    background: url("../img/Search.jpg") no-repeat left;
    background-size: 16px;
    background-position: calc(100% - 95%);
}